body {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-align: left;
  max-width: 210mm;
  width: 100%;
  margin: auto;
  margin-top: 2em;
  font-family: 'Comfortaa';
  font-size: 1em;
}
div {
  box-sizing: border-box;
}
div.left {
  padding-right: 5%;
  width: 60%;
}
div.right {
  width: 40%;
  font-size: 0.9em;
}
header div.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
header {
  display: inherit;
  flex-wrap: inherit;
  width: inherit;
  margin-bottom: 1em;
}
article {
  display: inherit;
  flex-wrap: inherit;
  width: inherit;
}
footer {
  margin-top: 5em;
}
footer>p {
  font-size: 0.75em;
  color: #999999;
}
section#name {
  padding: 0%;
  font-family: 'Cormorant Garamond';
}
section#info>p {
  text-align: right;
  font-weight: bold;
  color: black;
}
h1 {
  margin: 0;
  font-size: 3.6em;
  font-weight: bold;
}
h2 {
  margin: 2em 0;
  font-size: 1em;
  font-weight: bold;
  color: #2079c7;
}
h3 {
  margin: 1em 0 0.2em;
  font-weight: bold;
}
h4 {
  margin: 0.2em 0;
  font-weight: normal;
}
#name h4 {
  font-size: 1.2em;
}
#education h4 {
  font-style: italic;
}
h5 {
  margin: 1em 0;
  font-size: 0.8em;
  font-weight: normal;
  color: #666666;
}
p {
  margin: 0;
  font-size: 0.95em;
  line-height: 1.75em;
  color: #666666;
}
/* h2 {
  font-size: 0.8em;
  margin: 0;
  font-weight: lighter;
}
h3 {
  font-size: 1em;
  margin: 0 0 1em;
}
h4 {
  font-size: 0.9em;
  margin: 1em 0 0.2em;
}
h5 {
  font-size: 0.8em;
  margin: 0;
  font-weight: lighter;
}
h6 {
  font-size: 0.8em;
  margin: 0;
  font-weight: lighter;
}
p {
  font-size: 0.9em;
  margin: 0;
  font-weight: 100;
  text-align: justify;
}
ul {
  list-style-type: none;
  font-size: 0.8em;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
img {
  width: 90%;
  margin: 0 auto;
} */

@media screen and (max-width: 800px) {
  div,
  div.left,
  div.right,
  body,
  p,
  section#info>p {
    width: 100%;
    padding: 0%;
    text-align: center;
  }
}